.forgot-password {
  border: 1px solid rgb(156, 156, 156);
  border-radius: 15px;
  width: 400px;
  height: 320px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.padding-forgot {
  padding-top: 30px;
}

.button-medium {
  background: white;
  border: 1px;
  border-style: solid;
  border-color: rgb(163, 163, 163);
  padding: 7px 20px;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  width: 21vw;
  margin-bottom: 30px;
  margin-top: -10px;
}

.button-medium:hover {
  background-color: #B08C8C;
  border: transparent;
  text-decoration: none;
  transition: 0.8s;
}

@media screen and (max-width: 800px) {
  .forgot-password, .button-medium {
    width: 80%;
  }
}
