body {
background-color: white;
}

.bg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: white;
}

.swiper {
  width: 400px;
  height: 400px;
  position: absolute;
  margin-bottom: 80px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  -webkit-filter: grayscale(25%); /* Safari 6.0 - 9.0 */
  filter: grayscale(25%);
  border-radius: 18%;
}

.text-main {
  margin-right: 150px;
  margin-top: 60px;
}

.airb2b > h1 {
  font-weight: 600;
  font-size: 4em;
}
.dj-swipe {
  display: inline;
}

.text-main > h5 {
  font-size: 2em;
  font-weight: 300;
}
.swiper-pagination {
  --swiper-theme-color: #B08C8C;
}

.color-main {
  color: #B08C8C;
}

.button {
  font-size: 20px;
  background: transparent;
  border: 2px;
  border-style: solid;
  border-color: #B08C8C;
  padding: 10px 30px;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  background-color: #B08C8C;
  border: transparent;
  text-decoration: none;
  color: black;
  transition: 0.8s;
}

.font {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
}
