<div class="container">
  <h1 class="p-3"> My bookings </h1>
    <div class="booking-card-container" data-controller="bookings">
      <% @bookings.each do |booking| %>
        <%= render "card", booking: booking %>
    <% end %>
  </div>
<%# container with the bookings of the DJs I own%>
<div class="container">
  <h1>My DJ's bookings</h1>
  <div class="my-booking-card-container">
    <% @djs.each do |dj| %>
      <div class="booking-card">
      <h2 class="d-flex justify-content-center"><%= dj.name %></h2>
      <div class="booking-card-image-top">
          <%= image_tag dj.picture, class: "booking-card-image w-100", alt: "dj-picture" %>
      </div>
          <% dj.bookings.each do |booking| %>
              <%= render "mydjcard", booking: booking %>
          <% end %>
      </div>
    <% end%>
  </div>
</div>
</div>
