<div class="container">
      <h1 class="p-3"> Meet the Masters of Beat!</h1>
        <div class="dj-card-container">
          <% @djs.each do |dj| %>
              <%= render "card", dj: dj %>
          <% end %>
        </div>
     </div>

