<div class="container my-3">
  <div class="row d-flex justify-content-between">
    <div class="col-12">
      <h1> Meet the Masters of Beat!</h1>
        <div class="row">
          <% @djs.each do |dj| %>
            <div class="col-md-4">
              <%= render "card", dj: dj %>
            </div>
          <% end %>
        </div>
     </div>
  </div>
</div>
