<div class="footer">
  <div class="container py-2" id="footer">
    <div class="d-flex justify-content-between align-items-center">
      <p>© 2024 All Beats Reserved</p>
           <div class="footer-links">
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
          </div>

          <div class="footer-logo-container">
            <%= image_tag "logo.png", class:"footer-logo-img" %>
          </div>

      </div>
  </div>
</div>
