<div class="bg">
  <div class="d-flex justify-content-around">
    <div class="text-main">
      <div class="airb2b d-flex pb-3">
        <h1 class="font">AIR</h1><h1 class="font color-main">B2B</h1>
      </div>
      <h5 class="font pb-4">Find the best DJs around the world!</h5>
      <%= link_to "Explore", djs_path, class: "button font color-main" %>
    </div>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <% @djs.each do |dj| %>
          <div class="swiper-slide">
            <%= image_tag dj.picture %>
          </div>
        <% end %>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    </div>
  </div>
</div>
