
.card-img-top {
  height: 280px;
  width: 450px;
  object-fit: cover;
  margin-right: 20px;
}

.card {
  overflow: hidden;
  transition: 0.5s; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

.dj-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}

.dj-card {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.dj-card-img > img{
  border-radius: 8px 8px 0px 0;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.dj-card-heading {
  font-size: 18px;
  font-weight: bold;
  background: #fff;
  padding: 10px 15px;
}

.text-decoration-none {
  color: black;
}

.dj-card-price {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  position:relative;
  float: right;
   font-size: 14px;
   color: #636262;
}

 .dj-card-text {
    padding: 10px 15px;
    background: #fff;
    font-size: 14px;
    color: #636262;
}
