
.card-img-top {
  height: 300px;
  width: 300px;
  object-fit: cover;
  margin-right: 100px;
  border-radius: 25px;
}

.card {
  overflow: hidden;
  transition: 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dj-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
  margin-bottom: 120px;
}

.dj-card {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.5s ease-in-out;
}

.dj-card-img > img{
  border-radius: 8px 8px 0px 0;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.dj-card-heading {
  font-size: 18px;
  font-weight: bold;
  background: #fff;
  padding: 10px 15px;
}

.dj-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.dj-card:not(:hover) {
  filter: grayscale(100%);

}

.text-decoration-none {
  color: black;
}

.dot {
  margin-right: 3px;
}

@media (max-width: 1024px) {
  .dj-card-container  {
    width: 100%; /* Make the card take the full width of the screen */
    height: auto;
    grid-template-columns: 1fr 1fr /* Allow the height to adjust according to the content */
  }
}


@media (max-width: 767px) {
  .dj-card-container  {
    width: 100%; /* Make the card take the full width of the screen */
    height: auto;
    grid-template-columns: 1fr /* Allow the height to adjust according to the content */
  }

  .dj-card-price {
    position: relative;
    top: auto;
    right: auto;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.dj-card a {
  text-decoration: none; /* Remove underline */
  color: #333; /* Set default text color */
}

.dj-card:hover a {
  color: #333; /* Set the same text color as the default state */
}

.dj-card-price {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
  position:relative;
  float: right;
  font-size: 14px;
  color: #636262;
}

 .dj-card-text {
    padding: 10px 15px;
    background: #fff;
    font-size: 14px;
    color: #1f1e1e;
    margin-bottom: 16px;
}

.show-reviews {
  width: 400px;
}

.margin-120 {
  margin-top: 30px;
}
