img {
  width: 50px;
}

.footer-links a {
  color: black;
}

p {
  margin: 0px;
  font-weight: 300;
}

.footer {
  background: white;
  width: 100%;
}

.footer .container {
  border-top: solid;
}

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
 }

 .footer-container {
  position: sticky;
  bottom: 0;
 }
