img {
  width: 50px;
}

.footer-links a {
  color: black;
}

p {
  margin: 0px;
  font-weight: 300;
}

.footer {
  position: fixed;
  background: white;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer .container {
  border-top: solid;
}
