

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-style {
  list-style: none;
}

.nav-style li {
  display: inline-block;
  padding: 0px 20px;
}

#log-out {
  padding-right: 0px;
}

.navbar .container {
  border-bottom: solid 0.5px black;
}

.nav-link {
  font-size: 18px;
  font-weight: 300;
  transition: 0.3s;
}

.nav-link:hover {
  color: #B08C8C;
}

.navbar-container {
  position: sticky;
  top: 0;
  z-index: 10;
}
